body {
    margin: 0;
    padding: 0;
    background-color: #B0B5F8;
 }

#color1{
    background-color: #FCFCFD;
}
#color2{
    background-color: #B0B5F8;
}
#color3{
    background-color: #150BD4;
}
#color4{
    background-color: #090476;
}
#color5{
    background-color: #877ABC;
}
#color6{
    background-color: #AAB3D2;
}
#color7{
    background-color: #42424A;
}

/* #background{
    background-color: #B0B5F8;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.wrapper{
    margin: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    max-height: 80vh;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.whiteCol{
   background-color: #FCFCFD;
   height: 80vh;
  
}

.signIn{
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.blueCol{
    background-color: #150BD4;
    height: 80vh;
}