body {
    margin: 0;
    padding: 0;
 }

#color1{
    background-color: #FCFCFD;
}
#color2{
    background-color: #B0B5F8;
}
#color3{
    background-color: #150BD4;
}
#color4{
    background-color: #090476;
}
#color5{
    background-color: #877ABC;
}
#color6{
    background-color: #AAB3D2;
}
#color7{
    background-color: #42424A;
}

#background{
    background-color: #B0B5F8;
    min-height: 100vh;
    display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper{
    min-height: 80vh;
    min-width: 150vh;
    background-color: #FCFCFD;
    display: flex;
  align-items: center;
  justify-content: center;
}