body {
    margin: 0;
    padding: 0;
    background-color: #B0B5F8;
 }

#color1{
    background-color: #FCFCFD;
}
#color2{
    background-color: #B0B5F8;
}
#color3{
    background-color: #150BD4;
}
#color4{
    background-color: #090476;
}
#color5{
    background-color: #877ABC;
}
#color6{
    background-color: #AAB3D2;
}
#color7{
    background-color: #42424A;
}

/* #background{
    background-color: #B0B5F8;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.wrapper{
    margin: 100px;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.whiteCol{
   background-color: #FCFCFD;
   height: 100px;
}
.blueCol{
    background-color: #150BD4;
    height: 100px;
}