body{
    background-color: #B0B5F8;
}

.some-page-wrapper {
    margin: 100px;
    background-color: red;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }
  
  .blue-column {
    background-color: #FCFCFD;
    height: 80vh;
  }
  
  .green-column {
      height: 80vh;
      background-color: #150BD4;
  }