body{
    background-color: #DCDFFF;
}

.App{
    margin: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    min-height: 80vh;
    max-width: 80%;
    margin-left: 150px;
}

@media only screen and (max-width: 600px) {
    .App {
      margin: 25px;
      max-width: 90%;
    }
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.whiteCol{
    background-color: #FCFCFD;
    height: 80vh;
 }

 #boltLogo{
    max-height: 50px;
 }

 .signIn{
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .signIn {
      margin: 50px;
    }
    
  }


.blueCol{
    background-color: #5138EE;
    height: 80vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-content: center;
    color: white;
}