body{
    background-color: #DCDFFF;
}

.App{
    margin: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    min-height: 80vh;
    max-width: 80%;
    margin-left: 150px;
}

@media only screen and (max-width: 600px) {
    .App {
      margin: 15px;
      max-width: 95%;
    }
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.whiteCol{
    background-color: #FCFCFD;
    height: 80vh; 
 }

 #boltLogo{
    max-height: 50px;
 }

 #info{
     color: rgb(96, 96, 96);
     margin-bottom: 20px;
 }

 .signIn{
    margin: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: small;
}

@media only screen and (max-width: 600px) {
    .signIn {
      margin: 50px;
    }
  }

.inputLabel{
    font-weight: 600;
}

form input[type=text]{
    width: 90%;
    height: 30px;
    border: rgb(238, 236, 236) solid 1px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type=text]::placeholder{
    text-indent: 10px;
}

input[type=text]:focus{
    text-indent: 10px;
}

input[type=checkbox] {
    background-color: #5138EE;
  }

.radioLabel span{
    font-weight: 600;
    margin-left: 5px;
}

#forgotPassword{
    margin-left: 90px;
}


.blueCol{
    background-color: #5138EE;
    height: 80vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-content: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .blueCol{
        height: 60vh
    }
}

#graphId{
    width: 100%;
}

#showcase{
    text-align: center;
    width: 42%;
    font-size: smaller;
    color: white;
    margin: auto;
}