body{
    background-color: #DCDFFF;
}

.App{
    margin: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    min-height: 80vh;
    max-width: 80%;
    margin-left: 150px;
}

@media only screen and (max-width: 600px) {
    .App {
      margin: 25px;
      max-width: 90%;
    }
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.whiteCol{
    background-color: #FCFCFD;
    height: 80vh;
    
 }

 #boltLogo{
    max-height: 50px;
 }

 #info{
     color: rgb(96, 96, 96);
     margin-bottom: 20px;
 }

 .signIn{
    margin: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: small;
}

@media only screen and (max-width: 600px) {
    .signIn {
      margin: 50px;
    }
    
  }

form input[type=text]{
    width: 90%;
    height: 30px;
    border: rgb(238, 236, 236) solid 1px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
input::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
}

input[type=radio] {
    display: none;
  }

.radioLabel {
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
  }

.radioLabel span {
        position: relative;
        line-height: 22px;
        font-weight:600;
}

.radioLabel span:before,
.radioLabel span:after {
  content: '';
}

.radioLabel span:before {
    background-color: white;
    border: 1px solid #5138EE;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
  }
  
.radioLabel span:after {
    background: #5138EE;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    position: absolute;
    top: -2px;
    left: 1px;
    transition: 300ms;
    opacity: 0;
  }

  .radioLabel input:checked+span:after {
    opacity: 1;
  }


.blueCol{
    background-color: #5138EE;
    height: 80vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-content: center;
    color: white;
}

#graphId{
    width: 100%;
}

#showcase{
    text-align: center;
    width: 42%;
    font-size: smaller;
    color: white;
    margin: auto;
}